export(IsingFit)
S3method(plot,IsingFit)
S3method(print,IsingFit)
S3method(summary,IsingFit)

import(qgraph)
import(Matrix)
import(glmnet)
importFrom("stats", "sd")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")